# compiled output
/dist

# yarn
# see: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/node_modules

## --> ADD if using zero-install, otherwise do NOT:
#!.yarn/cache

## --> ELSE ADD if NOT using yarn's zero-install:
.pnp.*
# /yarn

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Tests
/coverage

# Docs - please generate on demand
/docs

# Config .env files
.env
.env.*